/*
*
*
*   NAME: Custom Classes & Mixins
*   AUTHOR: James Hanford
*   CREATED: 28/08/2016
*   VERSION: 1.0.0
*
*/

/********************************
MULTIPURPOSE MIXINS
********************************/

@mixin translate-y($val) {
    transform: translateY($val) !important;
}

@mixin translate-x($val) {
    transform: translateX($val) !important;
}

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

/********************************
BREAKPOINT MIXINS
********************************/

@mixin breakpoint($point) {
    @if $point == laptop {
        @media (max-width: 70em) { @content ; }
    }
    @else if $point == tablet {
     @media (max-width: 64em) { @content ; }
  }
   @else if $point == phablet {
     @media (max-width: 50em)  { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 37.5em)  { @content ; }

  }
}


/********************************
MULTIPURPOSE CLASSES
********************************/

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

//Element Centering
.center-vert {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.center-hoz {
    margin: 0 auto;
    text-align: center;
}

.circle {
    @include border-radius(50%);
    behaviour: url(PIE.htc); // IE8 SUPPORT
}

.display-block {
    display: block !important;
}

.display-inline-block{
    display: inline-block !important;
}

body{
    margin: 0;
    
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}
//END CUSTOM.SCSS