/*
*
*
*   NAME: CSS HAMBURGER
*   AUTHOR: James Hanford
*   CREATED: 06/11/2016
*   VERSION: 1.0.0
*
*/

/********************************
 VARIABLES
********************************/
$hamburger-color: #1f2831; 
$hamburger-background-color: none;

$hamburger-width: 30px;
$hamburger-height: 26px;
$bar-height: 2px;

/********************************
 PASSIVE STATE STYLING
********************************/
.Hamburger{
	background-color: $hamburger-background-color;
    position: relative;
    width: $hamburger-width;
    height: $hamburger-height;
    
    cursor: pointer;

    /*General positional styling HERE*/
    display: block;
    margin: 0 auto;

    /* Center span element styling */
    span{
		background-color: $hamburger-color;

     	position:absolute;
     	top:0;
     	bottom:0;
	    left:0;
	    right:0;

	    width: 100%;
	    height: $bar-height;
	    top: 50%; 

	    /* background transition animation */
	    transition: background 0.2s ease 0s;
    }

    /* Pseudo element styling */ 
    span::before , span::after{
    	background-color: $hamburger-color;

        position:absolute;
        top: 0;
        bottom:0;
        left:0;
        right:0;

        width: 100%;
        height: $bar-height;

        content: '';

        /* transition animation */
	    transition-duration: 0.2s, 0.2s;
  		transition-delay: 0.2s, 0s;
  		transition-property: top, transform;
  		transition-timing-function: ease-out;
    }

    /* Offset Top and Bottom bar */
    span::before{
        top: -0.6rem;
    }

    span::after{
        top: 0.6rem;
    }
}


/********************************
 HOVER STATE STYLING
********************************/
/* Not used currently

.Hamburger:hover{
	
	span::before{
        //top: -0.5rem;
    }

    span::after{
        //top: 0.5rem;
    }
} */


/********************************
 ACTIVE STATE STYLING
********************************/
.Hamburger-Active{
    span{
        background: none !important; 
    }

    span::before, span::after{
        top: 0px !important;

        /* Flip delay so rotate first */
        transition-delay: 0s, 0.2s;
    }

    /* Rotate Top & Bottom */
    span::before {
    	transform: rotate(45deg);
    }
    span::after {
    	transform: rotate(-45deg);
    }
}
