/*
*
*
*   NAME: Portfolio Styling
*   AUTHOR: James Hanford
*   CREATED: 25/03/2016
*   VERSION: 1.0.0
*   
*/

/***************************
VARIABLES
***************************/

/* COLOR SWATCHES */
$hex-hero-dark: #1f2831;
$hex-hero-blue: #1e80ab;
$hex-hero-blue: #337ab7;

$topbar-white: #f8f8f8;
$topbar-icon-bg: #e2e2e2;


/***************************
TYPOGRAPHY
***************************/
@import url(http://fonts.googleapis.com/css?family=Hind:400,300,500);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,700,800,400,600);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Dosis:400,300,200,500,600,700,800);
@import url('https://fonts.googleapis.com/css?family=Anton');


/***************************
IMPORTS
***************************/
@import "custom";

/***************************
NAVIGATION
***************************/
.Nav-Container{
    position: absolute;
    transform: translateX(-100%);
    z-index: 900;
    left: 0;
    
    ul {
      position: relative;
        list-style: none;
        margin: 0;
        padding: 0; 
        
        li {
            background-color: #1e80ab;
            color: #1f2329;
            font-family: 'Open Sans';
            font-size: 90%;
            letter-spacing: 1px;
            font-weight: 600;
            text-transform: uppercase;

            padding: 4px 8px;
            margin: 15px 0;
            cursor:pointer;
            float: left;
            clear: left;     
        }
    }
}

/* ANIMATION HELPERS */
.translate-x-0{
    @include translate-x(0%);
}
.Nav-Transition{
    @include transition(transform 0.3s ease);
}

.List-Transition{
    @include transition(padding 0.1s ease);
}

//Nav Item move on hover
.List-Push{
    padding-left: 30px !important;
}

/***************************
LANDING SECTION
***************************/
.Landing-Container{
    background-color: $hex-hero-dark;
    height: 100vh;
    width: 100%;   
    
    svg{
        transform: translateY(-95%);
        position: absolute;
        width: 100%;
        
        #Double_Chevron_Down{
            fill: $hex-hero-blue !important;
        }
    }
    
    .Landing-TopBar{
        background-color: $topbar-white;
        height: 10vh;
        width: 100%;

        display:flex;
        justify-content:space-between;
        align-items:center;

        .TopBar-Left{
            height: 100%;
            width: 100px;
            margin-right: auto;
            display: table;
            z-index: 800;
            
            .Icon-Contain{
                display: table-cell;
                text-align: center;
                vertical-align: middle;
                
                i{
                    color: $hex-hero-dark;
                    display: inline-block;
                    padding: 10px;
                    font-size: 150%;
                    cursor: pointer;
                }
                i:hover{
                    background-color: $hex-hero-dark;
                    color: white;
                }
            }
        }
        
        .TopBar-Center{
            height: 10%;
            width: 100%;
            position: absolute;
            display: table;
            width: 100%;
            
            .Title-Contain{
                display: table-cell;
                text-align: center;
                vertical-align: middle;
                
                h1{
                    color: $hex-hero-dark;
                    font-family: 'Roboto';
                    font-size: 100%;
                    letter-spacing: 15px;
                    text-transform: uppercase;
                    font-weight: 400;
                    display: inline-block;
                    
                    &:nth-child(2){
                        transform: translatex(40%);
                        margin-right: auto;
                    }
                    
                } 
            }
            
            svg{
                transform: scale(-50%);
                transform: translateY(15%);
            }
            
        }//TopBar-Center
        
        .TopBar-Right{
            height: 100%;
            width: 200px;
            margin-left: auto;
            text-align: center;
            display: table;
            z-index: 800;
            
            .Icon-Contain{
                display: table-cell;
                text-align: center;
                vertical-align: middle;
                
                i{
                    color: $hex-hero-dark;
                    display: inline-block;
                    padding: 8px;
                    margin: 2px;
                    font-size: 135%;
                }
                i:hover{
                    color: #f8f8f8;
                    cursor: pointer;
                }
                //LinkedIn
                i:nth-child(1):hover{
                    background-color: #0077b5;
                }
                //Dribbble Icon
                i:nth-child(2):hover{
                    background-color: #ea4c89;
                }
                //Github Icon
                i:nth-child(3):hover{
                    background-color: #999;
                }
                
            }
            
        }//TopBar-Right
        
    }//Landing-Top-Bar
    
    .Landing-Splash{
        height: 90%;
        width: 100%;

        display:flex;
        justify-content:center;
        align-items:center;
        
        h2{
            color: #f1f1ef;

            font-family: 'Source Sans Pro';
            font-size: 500%;
            letter-spacing: 15px;
            text-transform: uppercase;
            
            span{
            
            }
        }
    }
    
}//Landing-Container

/* ANIMATION & HELPERS */

//Used to make underscore blink
.blink {
  animation: blink-animation 2s steps(2, start) infinite;
  -webkit-animation: blink-animation 2s steps(2, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

//Used to make arrow bounce
.bounce{
    animation: bounce-animation 2s infinite;
}
@keyframes bounce-animation {
    0% {margin-top: 0px;}
    50% {margin-top: -20px;}
    100% {margin-top: 0px;}
}

/***************************
ABOUT SECTION
***************************/
.About-Container{
    width: 100%;
    min-height: 110vh;
    
    background-color: #f8f8f8;
    text-align: center;
    
    display: table;
}

.About-Centered{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    
    padding: 50px 0;
}

.About-Centered > hr{
    width: 60px;
    height: 3px;
    margin: 10px 0px;
    
    background-color: #1e80ab;
    
    display: inline-block;
    
    border: none;
}

.About-Headshot > img{
    width: 250px;
    
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    
    box-shadow: 0px 5px 30px #888;
}

h4{
    color: #363b40;
    
    margin: 20px 0px;
    font-family: 'Hind';
    font-size: 200%;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 400;
}

.About-Centered > p{
    padding: 0 15%;
    margin: 30px 0px;
    display: inline-block;
    border: none;
    font-family: 'Hind';
    color: #a5a8ac;
    font-size: 140%;
    font-weight: 100;
}

/***************************
ROADMAP SECTION
***************************/
.Roadmap-Container{
    width: 100%;
    min-height: 100vh;
    
    background-color: $hex-hero-dark;
    text-align: center;
    
    display: table;
}

.Roadmap-Container > h1{
    color: white;
    margin: 100px 0px;
    font-family: 'Hind';
    font-size: 198%;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 600;
}

.Roadmap-Timeline{
    min-height: 90vh;
    position: relative;
    overflow: hidden;
    text-align: center;
    padding-top: 30px;

    @include breakpoint(mobile) {
        text-align: left;
    }
}

.Top-Pad{
    height: 50px;
    display: inline-block;
}

.Roadmap-Timeline::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 4px;
    margin-left: -2px;
    background: white;
    left: 50%;

     @include breakpoint(mobile) {
        left: 25%;
     }
}

.Start-Point{
    width: 30px;
    height: 30px;

    position: absolute;
    left: 50%;
    margin-left: -15px;
    background-color: white;
    box-shadow: 0px 0px 0px 8px rgba(255,255,255,0.2);

    //Mobile responsive, shift elements to right
    @include breakpoint(mobile) {
        left: 25%;
    }
}

.Roadmap-Timeline .Space-Point{
    content: '';
    height: 50px;
    width: 100%;
    display: inline-block;
    position: relative;
}

.Roadmap-Timeline .Point{
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    background-color: white;

    //Mobile responsive, shift elements to right
    @include breakpoint(mobile) {
        left: 25%;
    }
}



.Roadmap-Timeline .Left{
    transform: translateX(-50%);
    margin-right: 150px;
    text-align: right;

    //Mobile responsive, shift elements to right
    @include breakpoint(mobile) {
        transform: translateX(0%);
        margin-right: 0px;
        margin-left: 180px;
        text-align: left;
    }
}

.Roadmap-Timeline .Right{
    transform: translateX(50%);
    margin-left: 150px;
    text-align: left;

    //Mobile responsive, shift elements to right
    @include breakpoint(mobile) {
        transform: translateX(0%);
        margin-left: 180px;
    }
}

.Roadmap-Timeline .Event{
    display: inline-block;
    max-width: 35%;
    margin-top: -5px;

    //Mobile responsive, shift elements to right
    @include breakpoint(mobile) {
        max-width: 50%;
    }
}

.Event > h5{
    color: white;
    font-family: 'PT Sans';
    font-size: 120%;
    margin: 0;
    opacity: 0.2;
}

.Event > h6{
    color: white;
    font-family: 'Open Sans';
    text-transform: uppercase;
    font-size: 120%;
    margin: 0;
    font-weight: 400;
}

/***************************
 PORTFOLIO SECTION
***************************/
.Portfolio-Container{
    width: 100%;
    margin-top: 100px;
    
    background-color: white;
    text-align: center;
    
    display: table;
    
    h1{
        color: #363b40;

        margin: 20px 0px;
        font-family: 'Hind';
        font-size: 200%;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: 400;
    }
    
    hr{
        width: 80px;
        height: 2px;
        margin: 10px 0px;

        background-color: #1e80ab;

        display: inline-block;

        border: none;
    }
    
    .Item-Contain{
        width: 100%;
        margin-bottom: 80px;
        
        .Item{
            display: block;
            text-align: initial;
            float: left;
            cursor: pointer;
            position: relative;
    
            width: 33.333333%;
            
            //TABLET 
            @include breakpoint(tablet) {
                width: 50%;
            }
            //PHABLET & DOWN
            @include breakpoint(phablet) {
                width: 80%;
                
                float: none;
                margin: 0 auto;
                padding: 20px 0;
            }
            
            img{
                width: 100%;
            }
            
            .hover{
                position: absolute;
                display: none;
                top: 0;
                left: 0;
                width: 100%;
                height: 99%;
                z-index: 999;

                background-color: rgba(0,0,0,0.8);
                
                h2{
                    color: white;
                    text-align: center;
                    
                }
            }
            .show{
                display:flex;
                justify-content:center;
                align-items:center;
            }
        }
    }//Item-Container    
}

.Footer-Container {
    background-color: $hex-hero-dark;
    min-height: 250px;
    width: 100%; 
}















.Debug{
    position: fixed;
    right: 0;
    z-index: 999;
    width: 30%;
    height: 20vh;
    background-color: black;
    color: white;
    display: none;
}